global: {}

route:
  receiver: "default"
  group_by: ["alertname", "job"]
  group_wait: 10s
  group_interval: 30s
  repeat_interval: 1h

receivers:
  - name: "default"
    # add slack_configs/email_configs later when you want real notifications

